name: Update Issue Close
on:
  workflow_dispatch:
    inputs:
      issue_number:
        description: 'Issue number to close'
        required: true
        type: number
permissions:
  id-token: write
  contents: read
jobs:
  update-issue-close:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Authenticate with AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{secrets.AWS_REGION}}
      - name: List files in S3 with issue number as suffix
        run: |
          files=$(aws s3 ls s3://compfuzzci/bugs/main/ --recursive | grep "${{ github.event.inputs.issue_number }} | awk '{print $2}'")
          IFS=$'\n'
          for file in $files; do
            aws s3 rm "s3://compfuzzci/bugs/main/$file"
          done